<div class="profileWrapper">
  <div class="profile-content">
    <form [formGroup]="profileForm" class="form-style">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="mb-10">First Name</label>
            <p class="user-flex">
              <span class="material-symbols-outlined user-style">
                person
              </span>
              <input type="text" class="form-control-pv" placeholder="First name" name="firstName"
                formControlName="firstName" />
            </p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="mb-10">Email Address</label>
            <p class="user-flex">
              <span class="material-symbols-outlined user-style">
                mail
              </span>
              <input type="email" class="form-control-pv" placeholder="Email address" name="emailId"
                formControlName="emailId" readonly />
            </p>
          </div>
        </div>

        <!-- <div class="col-md-6">
          <div class="form-group">
            <label class="mb-10">Last Name</label>
            <p class="user-flex">
              <span class="material-symbols-outlined user-style">
                person
              </span>
              <input type="text" class="form-control-pv" placeholder="Last name" name="lastName"
                formControlName="lastName" />
            </p>
          </div>
        </div> -->
      </div>

      <div class="row">


        <div class="col-md-6">
          <div class="form-group">
            <label class="mb-10">Phone Number</label>
            <p class="user-flex"><span class="material-symbols-outlined user-style">
                call
              </span>
              <input type="text" class="form-control-pv" placeholder="Phone number" name="phoneNumber" maxlength="10"
                formControlName="phoneNumber" />
            </p>
          </div>
        </div>

        <div class="col-md-6">
          <label class="mb-10">Date of Birth</label>
          <p class="user-flex">
            <span class="material-symbols-outlined user-style">
              calendar_month
            </span>
            <input type="date" class="form-control-pv" placeholder="DD-MM-YYY" name="dateOfBirth"
              formControlName="dateOfBirth" />
          </p>
        </div>
      </div>


      <div class="row">


        <div class="col-md-6">
          <label class="mb-10">Business Name</label>
          <p class="user-flex">
            <span class="material-symbols-outlined user-style">
              corporate_fare
            </span>
            <input type="text" class="form-control-pv" placeholder="Business name" name="businessName"
              formControlName="businessName" />
          </p>
        </div>
        <div class="col-md-6">
          <label class="mb-10">Business Type</label>
          <p class="user-flex">
            <span class="material-symbols-outlined user-style">
              card_travel
            </span>
            <input type="text" class="form-control-pv" placeholder="Business type" name="businessType"
              formControlName="businessType" />
          </p>
        </div>

        <!-- <div class="row">

        </div> -->

      </div>

    </form>

    <br>
    <br>
    <div class="text-end-style">
      <button type="button" class="btn btn-outline-primary" (click)="updateProfile()">Update</button>
    </div>
  </div>

  <div class="profile-imgWrapper">
    <div class="bg-outline">
      <div class="imgWrapper">
        <img class="prf-image" src="../../../assets/logos/mem-logo-black.png" />
      </div>
      <div class="desWrapper">
        <p>Sanjay G</p>
        <p>I am a Ui Developer</p>
        <p class="mt-20">Its also true that the older your audience ( such as parents booking a wedding or anniversary)
          the less apt
          they are to click merrily through the site. The older generation mostly want to read, so give them something
          to sink their teeth into. they are to click merrily through the site. The older generation mostly want to
          read, so give them something
          to sink their teeth into.</p>
      </div>
    </div>
  </div>
</div>