.mainContainer {
  height: 100vh;
  overflow-x: hidden;
}

.container {
  overflow-y: auto;
}

.headerWrapper {
  width: 100%;
  height: 80px;
  background-image: linear-gradient(to right top, #1c77b2, #0091c1, #00abcb, #00bcca, #00cbc1);
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 999;
}

.membora-title-db {
  width: 50%;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.mem-image {
  border-radius: 100%;
  padding: 24px;
  margin-top: -30px;
  margin-left: -27px;
}

.mem-title {
  font-size: 24px;
  font-family: math;
  color: #fff;
  padding: 2px 6px;
}

.membora-admin-pf {
  width: 50%;
  padding: 26px;
}

.pf-name {
  padding: 4px 73px;
  text-align: right;
  color: #fff;
  font-family: math;
  font-size: 16px;
}


.profile-img {
  float: right;
  border-radius: 100%;
  margin-top: -60px;
}

.contentWrapper {
  width: 100%;
  height: 83vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 25%;
  border-right: 0px solid black;
  padding: 20px;
}

.menuContent {
  width: 75%;
}

.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #fff;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
  box-shadow: #0091c1;
}

p {
  font-family: Lato;
}

.hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  outline: none;
  background: none;
  border: 0;
}


.hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: #1a2580;
}

.hamburger span::before,
.hamburger span::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #1a2580;
  content: "";
}

.hamburger span::before {
  top: -20px;
}

.hamburger span::after {
  bottom: -20px;
}

.hambu {
  margin-right: 680px;
  margin-top: 20px;
}

.bg-btn {
  border: 0px solid black;
  background: transparent;
}

.bg-btn:hover {}

.icon-style {
  color: #fff;
  background-color: #00cbc1;
  padding: 3px;
  border-radius: 10px;
  font-size: 30px;
  transition: 0.80s;
}

.icon-style:hover {
  background-color: #1c77b2;
  color: #fff;
}




.db-content {
  width: 80%;
  margin: 100px 0px;
  margin-left: 255px;
}

.countBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  margin-bottom: 15px;
  /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%); */
}

.box-1 {
  width: 150px;
  padding: 0 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  text-align: center;
  border-radius: 6px;
  height: 130px;
  align-items: center;
  justify-content: center;
}

.box-2 {
  width: 150px;
  padding: 0 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  text-align: center;
  border-radius: 6px;
  height: 130px;
  margin: 0 120px;
}

.box-3 {
  width: 150px;
  padding: 0 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  text-align: center;
  border-radius: 6px;
  height: 130px;
  margin: 0 0px;
}

.box-4 {
  width: 150px;
  padding: 0 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  text-align: center;
  border-radius: 6px;
  height: 130px;
  margin: 0 0px;
}

.box-p {
  padding-top: 12px;
  font-size: 26px;
  font-family: math;
}

.box-p-color-total {
  font-family: math;
  font-size: 12px;
  background-color: #0100ba;
  width: 50%;
  text-align: center;
  color: #fff;
  margin-left: 36px;
  border-radius: 7px;
  height: 24px;
  margin-top: 25px;
  padding-top: 4px;
}

.box-p-color-pending {
  font-family: math;
  font-size: 12px;
  background-color: #EE4000;
  width: 50%;
  text-align: center;
  color: #fff;
  margin-left: 36px;
  border-radius: 7px;
  height: 24px;
  margin-top: 25px;
  padding-top: 4px;
}


.box-p-color-paid {
  font-family: math;
  font-size: 12px;
  background-color: #008000;
  width: 50%;
  text-align: center;
  color: #fff;
  margin-left: 36px;
  border-radius: 7px;
  height: 24px;
  margin-top: 25px;
  padding-top: 4px;
}

.box-p-color-test {
  font-family: math;
  font-size: 12px;
  background-color: #4a4080;
  width: 50%;
  text-align: center;
  color: #fff;
  margin-left: 36px;
  border-radius: 7px;
  height: 24px;
  margin-top: 25px;
  padding-top: 4px;
}



.cust-creation {
  margin-left: 70px;
  margin-top: 40px;
}

.center {
  text-align: center;
}

.smallFont {
  font-size: 20px !important;
}

.btn-style-cc {
  margin-top: 5px;
  background-image: linear-gradient(to right top, #4a4080, #395c9c, #1c77b2, #0091c1, #00abcb, #00bcca, #00cbc1);
  border: 0px solid black;
  font-size: 16px;
  height: 35px;
  color: white;
  width: 178px;
  font-family: math;
  border-radius: 10px;
  transition: 1s;
  padding-bottom: 3px;
}

.btn-style-cc:hover {
  transition: 1s;
  border: 0px solid black;
  height: 35px;
  color: white;
  width: 178px;
  font-family: math;
  border-radius: 10px;
  background: linear-gradient(to left top, #4a4080, #395c9c, #1c77b2, #0091c1, #00abcb, #00bcca, #00cbc1);
}

/* SIDEBAR CSS */

.sidebar-topics {
  padding: 10px;
  color: #0091c1;
  font-family: math;
  font-size: 16px;
}

.topics-style {
  cursor: pointer;
  transition: 0.75s;
}

.topics-style:hover {
  color: #00cbc1;
  font-weight: 500;
}

/* FOR TABLE */

.cust-table {
  padding: 0px;
  text-align: center;
  margin-bottom: 40px;
}

.style-hr-1 {
  width: 98%;
  margin-left: 13px;
  color: #00cbc1;
}

.table-header {
  padding: 6px 0px;
  font-family: math;
  font-size: 22px;
  font-weight: 500;
  width: 25%;
  margin-bottom: 20px;
}

.table-header:hover {
  color: #00cbc1;
  cursor: context-menu;
}
