<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <!-- <img src="../../assets/logos/mem-logo-black.png" height="50px" width="50px" /> -->
      <i class="fas fa-bars fs-26"></i>
    </button>
    <div class="logo-text" *ngIf="collapsed"></div>
    <!-- <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fal fa-times" aria-hidden="true"></i>
    </button> -->
  </div>

  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData ">
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact :true}">
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
      </a>
    </li>
  </ul>
</div>
